body {
  margin: 0;
}

#game div {
  border: 1px solid black;
  width: 15%;
  height: 200px;
  margin: 10px;
  display: inline-block;
}

#game {
  margin: auto;
  left: 56%;
  top: 40%;
  position: relative;
  transform: translate(-50%, -50%);
}

.clicked {
  pointer-events: none;
}

.noClicks {
  pointer-events: none;
  user-select: none;
}

.container {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 10px;
}

#winner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  border: 3px solid yellow;
  color: yellow;
  height: 30vh;
  width: 75vw;
}

/* Style the header links */
.header p,
.header button {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  justify-content: center;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header p.logo {
  font-size: 25px;
  font-weight: bold;
}

/* Float the link section to the right */
.header-right {
  float: right;
  margin-right: 20px;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header p,
  .header button {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}
